@media (max-width: 500px) {
}
@media (max-width: 1024px) {
}

:root {
  --color-blue: #71abfe;
  --color-gray: #25282a;
  --color-gray-s: #bcbdbe;
  --color-white: #ffffff;
  --timing: 0.3s;

  font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
}

input[type='radio'] {
  display: none;
}

.body {
  color: var(--color-white);
}

.bgc--gray {
  background-color: var(--color-gray);
}

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 4fr 5rem;
  gap: 1.25rem;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 3rem 1fr;
    gap: 0.75rem;
  }
}

.grid--fully-filled {
  grid-area: 1 / 1 / -1 / -1;
}

.slider {
  width: 60vw;
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    width: 90vw;
  }
}

.slider__body {
  display: grid;
  overflow: hidden;
}

.slider__controls {
  display: flex;
  z-index: 200;
  grid-column: -2;
  grid-row: -2;
  align-items: stretch;
  justify-content: center;

  @media screen and (max-width: 800px) {
    grid-row: 2;
  }
}
